<h1>Listing scores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Game</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.name %></td>
        <td><%= score.score %></td>
        <td><%= score.game_id %></td>
        <td><%= link_to 'Show', [@game, score] %></td>
        <td><%= link_to 'Edit', edit_game_score_path(@game, score) %></td>
        <td><%= link_to 'Destroy', [@game, score], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_game_score_path(@game) %>

<!--
<br><br>

<form id="new-score-form">
  <div class="field">
    <%#= label_tag :name %><br>
    <%#= text_field_tag :name %>
    <input type="text" id="new-name">
  </div>
  <div class="field">
    <%#= label_tag :score %><br>
    <%#= number_field_tag :score %>
    <input type="text" id="new-score">
  </div>
  <div class="field">
    <%#= label_tag :game_id %><br>
    <%#= number_field_tag :game_id, @game.id %>
  </div>
  <%#= submit_tag 'Submit' %>
</form>
-->
<!--
<script>
  $(function() {
    // var data = {
    //   game_id: 1,
    //   api_key: "52444cd19d88c9ebc201bb0464f853ba"
    // };

    // $.ajax({
    //   type: 'GET',
    //   url: 'http://hiscore.herokuapp.com/api/scores',
    //   contentType: 'application/json',
    //   dataType: 'json',
    //   data: data,
    //   success: function(response, status) {
    //     console.log('success: ', response);
    //   },
    //   error: function(response, status, error) {
    //     console.log('error: ', response, status);
    //   }
    // });

    // $('#new-score-form').submit(function(e) {
    //   e.preventDefault();

    //   var data = {
    //     score: {
    //       name: $('#new-name').val(),
    //       score: $('#new-score').val(),
    //       api_key: "<%#= @game.user.api_keys.first.access_token %>",
    //       game_id: <%#= @game.id %>
    //     }
    //   };

    //   console.log(JSON.stringify(data));

    //   $.ajax({
    //     type: 'POST',
    //     url: 'http://hiscore.heroku.com/api/scores',
    //     //url: 'http://localhost:3000/api/scores',
    //     contentType: 'application/json',
    //     dataType: 'json',
    //     data: JSON.stringify(data),
    //     success: function(response, status) {
    //       console.log('success: ', response);
    //     },
    //     error: function(response, status, error) {
    //       console.log('error: ', response, status);
    //     }
    //   });
    //});

    // List all scores (sorted highest to lowest)
    // $.ajax({
    //   type: 'GET',
    //   url: 'http://hiscore.herokuapp.com/api/scores',
    //   contentType: 'application/json',
    //   dataType: 'json',
    //   data: {
    //     game_id: 1,
    //     api_key: "52444cd19d88c9ebc201bb0464f853ba"
    //   },
    //   success: function(response, status) {
    //     console.log('success: ', response);
    //     console.log('status: ', status);
    //   },
    //   error: function(response, status, error) {
    //     console.log('error: ', response);
    //     console.log(status);
    //     console.log(error);
    //     //console.log(response.getResponseHeader());
    //   }
    // });


////////////////////

    // $.get('http://hiscore.herokuapp.com/api/scores', { game_id: 1, api_key: '52444cd19d88c9ebc201bb0464f853ba' }, 'json')
    //   .done(function(data, status, jqXHR) {
    //     console.log(data);
    //     console.log("success")
    //   })
    //   .fail(function(jqXHR, status, error) {
    //     console.log("error");
    //   })
    //   .always(function() {
    //     console.log("finished");
    //   });

    var data = {
      api_key: '52444cd19d88c9ebc201bb0464f853ba',
      score: {
        name: 'Rob',
        score: 10,
        game_id: 1
      }
    };

    $.post('http://hiscore.herokuapp.com/api/scores', data, 'json')
      .done(function(data, status, jqXHR) {
        console.log( "success" );
      })
      .fail(function(jqXHR, status, error) {
        console.log( "error" );
      })
      .always(function() {
        console.log( "finished" );
      });

      //'{"api_key": "152444cd19d88c9ebc201bb0464f853ba", "score": {"name": "Rob", "score": 10, "game_id": 1 }}'

    // $.get('http://localhost:3000/api/scores', { game_id: 1, api_key: '55d43ffd89a1979d5a140ea8d8edf785' }, 'json')
    //   .done(function(data, status, jqXHR) {
    //     console.log(data);
    //     console.log("success")
    //   })
    //   .fail(function(jqXHR, status, error) {
    //     console.log("error");
    //   })
    //   .always(function() {
    //     console.log("finished");
    //   });

    // var data = {
    //   api_key: '55d43ffd89a1979d5a140ea8d8edf785',
    //   score: {
    //     name: 'Rob',
    //     score: 10,
    //     game_id: 1
    //   }
    // };

    // $.post('http://localhost:3000/api/scores', data, 'json')
    //   .done(function(data, status, jqXHR) {
    //     console.log( "success" );
    //   })
    //   .fail(function(jqXHR, status, error) {
    //     console.log( "error" );
    //   })
    //   .always(function() {
    //     console.log( "finished" );
    //   });

////////////////////

    // $.ajax({
    //   type: 'GET',
    //   url: 'http://hiscore.herokuapp.com/api/scores?game_id=1&api_key=52444cd19d88c9ebc201bb0464f853ba',
    //   dataType: 'json',
    //   success: function(response, status) {
    //     console.log('success: ', response);
    //     console.log('status: ', status);
    //   },
    //   error: function(response, status, error) {
    //     console.log('error: ', response);
    //     console.log(status);
    //     console.log(error);
    //     //console.log(response.getResponseHeader());
    //   }
    // });

    // Add new score
    // $('#new-score-form').submit(function(e) {
    //   e.preventDefault();

    //   var data = {
    //     score: {
    //       name: $('#new-name').val(),
    //       score: $('#new-score').val(),
    //       api_key: '152444cd19d88c9ebc201bb0464f853ba',
    //       game_id: 1
    //     }
    //   };



      // $.ajax({
      //   type: 'POST',
      //   url: 'http://hiscore.herokuapp.com/api/scores',
      //   contentType: 'application/json',
      //   dataType: 'json',
      //   data: data,
      //   success: function(response, status) {
      //     console.log('success: ', response);
      //   },
      //   error: function(response, status, error) {
      //     console.log('error: ', response, status);
      //   }
      // });

      // curl -X POST -D headers.txt -H 'Content-Type: application/json' -d '{"api_key": "55d43ffd89a1979d5a140ea8d8edf785", "score": {"name": "Rob", "score": 10, "game_id": 1 }}' http://localhost:3000/api/scores

      // curl -X POST -D headers.txt -H 'Content-Type: application/json' -d '{"api_key": "52444cd19d88c9ebc201bb0464f853ba", "score": {"name": "Rob", "score": 10, "game_id": 1 }}' http://hiscore.herokuapp.com/api/scores
  });
</script>
-->
