<h1>Listing scores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Game</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.name %></td>
        <td><%= score.score %></td>
        <td><%= score.game_id %></td>
        <td><%= link_to 'Show', [@game, score] %></td>
        <td><%= link_to 'Edit', edit_game_score_path(@game, score) %></td>
        <td><%= link_to 'Destroy', [@game, score], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_game_score_path(@game) %>
