<h1>Listing scores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Game</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.name %></td>
        <td><%= score.score %></td>
        <td><%= score.game_id %></td>
        <td><%= link_to 'Show', [@game, score] %></td>
        <td><%= link_to 'Edit', edit_game_score_path(@game, score) %></td>
        <td><%= link_to 'Destroy', [@game, score], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_game_score_path(@game) %>

<!--
<br><br>

<form id="new-score-form">
  <div class="field">
    <%#= label_tag :name %><br>
    <%#= text_field_tag :name %>
    <input type="text" id="new-name">
  </div>
  <div class="field">
    <%#= label_tag :score %><br>
    <%#= number_field_tag :score %>
    <input type="text" id="new-score">
  </div>
  <div class="field">
    <%#= label_tag :game_id %><br>
    <%#= number_field_tag :game_id, @game.id %>
  </div>
  <%#= submit_tag 'Submit' %>
</form>
-->

<!--
<script>
  $(function() {
    var data = {
      game_id: 1,
      api_key: "52444cd19d88c9ebc201bb0464f853ba"
    };

    $.ajax({
      type: 'GET',
      url: 'http://hiscore.herokuapp.com/api/scores',
      contentType: 'application/json',
      dataType: 'json',
      data: data,
      success: function(response, status) {
        console.log('success: ', response);
      },
      error: function(response, status, error) {
        console.log('error: ', response, status);
      }
    });

    // $('#new-score-form').submit(function(e) {
    //   e.preventDefault();

    //   var data = {
    //     score: {
    //       name: $('#new-name').val(),
    //       score: $('#new-score').val(),
    //       api_key: "<%#= @game.user.api_keys.first.access_token %>",
    //       game_id: <%#= @game.id %>
    //     }
    //   };

    //   console.log(JSON.stringify(data));

    //   $.ajax({
    //     type: 'POST',
    //     url: 'http://hiscore.heroku.com/api/scores',
    //     //url: 'http://localhost:3000/api/scores',
    //     contentType: 'application/json',
    //     dataType: 'json',
    //     data: JSON.stringify(data),
    //     success: function(response, status) {
    //       console.log('success: ', response);
    //     },
    //     error: function(response, status, error) {
    //       console.log('error: ', response, status);
    //     }
    //   });
    //});

  });
</script>
-->
