<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @score.name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<p>
  <strong>Game:</strong>
  <%= @score.game_id %>
</p>

<%= link_to 'Edit', edit_game_score_path(@game, @score) %> |
<%= link_to 'Back', game_scores_path(@game) %>
