<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<p>
  <strong>Games:</strong>
  <ul>
    <%- @games.each do |game| %>
      <li><%= link_to game.name, game %></li>
    <%- end %>
  </ul>
</p>

<p>
  <strong>API Key:</strong>
  <%= @api_key %><br>
  <%= link_to 'regenerate', user_generate_api_key_path(@user) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
